#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   F1    |    F2   |    F3   |    F4   |    F5   |    F6   |                                       |    F7   |    F8   |    F9   |    F10  |    F11  |    F12  |
// |   TAB   |    Q    |    W    |    E    |    R    |    T    |                                       |    Y    |    U    |    I    |    O    |    P    |    [    |
// |   \     |    A    |    S    |    D    |    F    |    G    |  VOL_M  |                             |    H    |    J    |    K    |    L    |    ;    |    '    |
// |   CTRL  |    Z    |    X    |    C    |    V    |    B    |  GRAVE  | INSERT  |  PR_SCR |    ]    |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
//                                         |   GUI   |  SHIFT  |  SPACE  | ESCAPE  |  ENTER  |    FN   | R SHIFT |   GUI   |
            bindings = <
    &kp F1        &kp F2   &kp F3   &kp F4    &kp F5    &kp F6                                            &kp F7     &kp F8    &kp F9    &kp F10   &kp F11  &kp F12
    &kp TAB       &kp Q    &kp W    &kp E     &kp R     &kp T                                             &kp Y      &kp U     &kp I     &kp O     &kp P    &kp LBKT
    &kp BSLH      &kp A    &kp S    &kp D     &kp F     &kp G     &kp K_MUTE                              &kp H      &kp J     &kp K     &kp L     &kp SEMI &kp SQT
    &kp LCTRL     &kp Z    &kp X    &kp C     &kp V     &kp B     &kp GRAVE  &kp INS  &kp PSCRN &kp RBKT  &kp N      &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RCTRL
                                              &kp LGUI  &kp LSHFT &kp SPACE  &kp ESC  &kp RET   &kp RET   &kp RSHFT  &kp LGUI
            >;
        };
    };
};
