#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   F1    |    F2   |    F3   |    F4   |    F5   |    F6   |                                       |    F7   |    F8   |    F9   |    F10  |    F11  |    F12  |
// |   TAB   |    Q    |    W    |    E    |    R    |    T    |                                       |    Y    |    U    |    I    |    O    |    P    |    [    |
// |   \     |    A    |    S    |    D    |    F    |    G    |  VOL_M  |                             |    H    |    J    |    K    |    L    |    ;    |    '    |
// |   CTRL  |    Z    |    X    |    C    |    V    |    B    |  `      | INSERT  |  PR_SCR |    ]    |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
//                                         |   GUI   |  SHIFT  |  SPACE  | ESCAPE  |  ENTER  |    FN   | R SHIFT |   GUI   |
            bindings = <
    &kp ESC       &kp Q    &kp W    &kp E     &kp R     &kp T                                             &kp Y      &kp U     &kp I     &kp O     &kp P    &kp BSLH
    &kp ESC       &kp Q    &kp W    &kp E     &kp R     &kp T                                             &kp Y      &kp U     &kp I     &kp O     &kp P    &kp BSLH
    &kp TAB       &kp A    &kp S    &kp D     &kp F     &kp G     &kp RET                                 &kp H      &kp J     &kp K     &kp L     &kp SEMI &kp SQT
    &kp LSHIFT    &kp Z    &kp X    &kp C     &kp V     &kp B     &kp LC(A) &kp LC(C) &kp LC(V) &kp LC(X) &kp N      &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RCTRL
                                              &kp LGUI  &kp DEL   &kp RET   &kp SPACE &kp ESC   &kp RET   &kp SPACE  &kp RALT
            >;
        };
    };
};